<a href="https://colab.research.google.com/github/sheng-999/simplepython/blob/main/Travel_agency_database_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Travel agency

Today, you are working at a travel agency. All the cities covered by this agency are stored in a Python dictionary.


They require your newly acquired Python skills to develop useful functions!

## Discover the information for one city



```
# This text is in code format
```

The information pertaining to a city is provided in a single dictionary. Let's take a look at an example below.

Please note that:
- location corresponds to latitude and longitude
- prefecture_level is measured in km2 (square kilometers)

In [2]:
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

1) What is the data type of the key value `location`? What about `area`?

In [5]:
print(type(paris_city['location']))
print(type(paris_city["area"]))

<class 'list'>
<class 'dict'>

2) How do we get `prefecture_level` value from `paris_city` variable?

In [6]:
paris_city["area"]['prefecture_level']

105.4

3) How do we get longitude value from `paris_city` variable?

In [7]:
paris_city['location'][1]

2.3522

4) Create a function `get_key_value_from_city` that takes two arguments `city` and `key` and outputs the key value from the city.

Eg: `get_key_value_from_city(city=paris_city, key="total_population")` will output 2102650


If a property doesn't exist, please return "not defined"

In [10]:
# create the function with the selected arguments

 # set default output
def get_key_value_from_city(city=None, key=None):

  # set the output if the required key exists in the selected city
  if key in city:
    print(city[key])
  else:
    return 'not defined'

# test the function with the given example
get_key_value_from_city(city=paris_city, key="total_population")

2102650

## Discovering all cities

As a travel agency, they have collected multiple cities information where they manage accommodations. All of these cities are stored in a Python list called `cities`.

1) Execute the cell below to load data. How many cities do they have?

In [25]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

There are 5 cities.

2) By utilizing your previous function `get_key_value_from_city` create a new one that accepts two arguments: `city_name` and `key` from which we desire the value.

If the city doesn't exist then return "City doesn't exist or is not covered".

Test your function with multiple examples.

In [34]:
# create the function with the selected arguments
def retrieve_city_key_value_database(city_name=None, key=None):
    # set default output
    # start the loop over cities
  output = "City doesn't exist or is not covered"
  for city in cities:
    if city_name == city["name"]:
      if key in city:
        return city[key]
      else:
   # set the output if the required key exists in the selected city
        return output
  return output



# test the function with examples
print(retrieve_city_key_value_database(city_name ='shang hai',key='location'))

City doesn't exist or is not covered

In [36]:
retrieve_city_key_value_database(city_name ='Paris', key='location')

[48.8566, 2.3522]

In [38]:
retrieve_city_key_value_database(city_name = 'Chengdu', key = 'area')

{'prefecture_level': 14378}

3) Sometimes, city information can be incorrect or require updates.

Create a function `modify_city_key_value` that replaces an existing key's value by a new one provided. It takes three arguments `city_name`, `key` and `value`.

The function will generate a text message indicating one of the following scenarios:

- If the city doesn't exist or is not covered: "City doesn't exist or is not covered."
- If the provided key doesn't exist: "Key provided doesn't exist."
- If the key has been successfully updated for the city: "`key` has been updated for `city_name."

In [52]:
# create the function with the selected arguments

def modify_city_key_value(city_name=None,key=None,Value=None):
  # set default output
  city_found = False

  # start the loop over cities
  for city in cities:
    if city["name"] == city_name:
      city_found = True

# set the different outputs depending on whether the key exists
      if key in city:
        city[key]= Value
        return f"{key} has been updated for {city_name}."
      else:
        return "Key provided doesn't exist."
  if not city_found:
    return "City doesn't exist or is not covered."



# to be completed
# test the function with examples
modify_city_key_value(city_name = "Chengdu",key="continent",Value="aisa")

'continent has been updated for Chengdu.'

In [53]:
modify_city_key_value(city_name = "Paris", key="rive gauche", Value = "cafe")

"Key provided doesn't exist."

In [54]:
modify_city_key_value(city_name = "London", key="location", Value= [3.3,5.5])

"City doesn't exist or is not covered."

## Search engine

It is quite common for customers to seek destinations that are not far from their current location in order to minimize transportation costs.


The travel agency requires your assistance in developing a function that can provide a list of nearby cities.

1) Execute the code provided below to see to observe how we can calculate the distance between two locations.

Thanks to the [Geopy](https://geopy.readthedocs.io/en/stable/#) library,  this process is quite straightforward.

In [63]:
from geopy import distance

newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

print(distance.distance(newport_ri, cleveland_oh).km)

866.4554329098685

2) What is the data type of `distance.distance(newport_ri, cleveland_oh)`?

What is "km" then ?

In [62]:
print(type(distance.distance(newport_ri,cleveland_oh)))

<class 'geopy.distance.geodesic'>

It's a geopy.distance.geodesic object.

You can see it with the "class" displayed.

3) Create a function `get_cities_near_by` that takes two arguments:
- customer_location: a list [lat, long]
- radius: threshold in km

if no city has been found, please return an empty list.

Note that you can use Guangyan city in China ([32.4355, 105.8436]) and a radius of 500km to test your function.

Xi'an and Chengdu are not very far...

In [64]:
# create the function with the selected arguments

def get_cities_near_by(customer_location,radius):
  # start a list
  nearby_cities = []

  # start the loop over cities
  for city in cities:
    # define the condition on customer_location
    city_location = city['location']
    # define the condition on radius
    dist = distance.distance(customer_location, city_location).km
    if dist <= radius:
      # append the list of close cities
      nearby_cities.append(city)
  return nearby_cities


# test the function with the example

get_cities_near_by(customer_location=[32.4355, 105.8436],radius=1000)

[{'name': 'Xi’an',
  'total_population': 12328000,
  'continent': 'Asia',
  'location': [34.2667, 108.9],
  'area': {'prefecture_level': 10762}},
 {'name': 'Chengdu',
  'total_population': 14645000,
  'continent': 'aisa',
  'location': [30.66, 104.0633],
  'area': {'prefecture_level': 14378}}]

Congratulations ! You have now a search function ready for the travel agents to use !